
@media (max-width: 600px){
  html{
  font-size: 6px;
  }
}

@primary: #6C8D96;

.primary {
  background-color: @primary;
}

.white{
  color: white;
}

.btn-mj{
  display: block;
  margin: 0rem auto;
  font-size: 1.618rem;
}

.divider {
  height: 2px;
  width: 10vw;
  margin: 10vh auto;
  background-color: @primary;
}


// Splash Section
.splash-container{
  background-image: url('/assets/images/secret_mesa.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  .title-container{
    margin-top: 30vh;
  }
  .squeeze{
    margin-top: .5vh;
    margin-bottom: .5vh;
    font-size: 1.309rem;
    color: #333333;
  }

  .splash-title{
    margin-top: .2vh;
    margin-bottom: .2vh;
    font-size: 4.236rem;
    letter-spacing: .3rem;
    color: #333333
  }
}

// Summary Section

.summary-fluid{
  background-color: #333333;
  min-height: 100vh;
  color: white;
  .summary-title{
    margin-top: 5vh;
  }
  .summary-text{
    /* font-size: 2rem; */
  }
  .side-col{
    height: 70vh;
    position: relative;
    .icon-image{
      position: absolute;
      max-width: 50%;
      max-height: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }
    .top-half{
      position: absolute;
      height: 40vh;
      width: 100%;
      top: 0vh;
    }
    .bottom-half{
      position: absolute;
      height: 40vh;
      width: 100%;
      bottom: 0vh;
    }
  }
}
