body{
}

@primary: #4fe2ff;

.primary {
  background-color: @primary;
}

.white{
  color: white;
}

.btn-mj{
  display: block;
  margin: 0rem auto;
  font-size: 2rem;
}

.divider {
  height: 2px;
  width: 10vw;
  margin: 5rem auto;
  background-color: @primary;
}

.splash-container{
  height: 80vh;
  .title-container{
    margin-top: 30vh;
  }
  .squeeze{
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 2rem;
  }

  .splash-title{
    margin-top: .2rem;
    margin-bottom: .2rem;
    font-size: 5rem;
    letter-spacing: .4rem;
  }


}
