@import url(http://fonts.googleapis.com/css?family=Alex+Brush);
@media (max-width: 600px){
  html{
  font-size: 12px;
  }
}

@letterColor: #333333;
@primary: #44656B;

.primary {
  background-color: @primary;
}
a{
  color: #44656B;
}
.white{
  color: white;
}

.btn-mj{
  display: block;
  margin: 0rem auto;
  font-size: 1.618rem;
}
.pointer{
  cursor: pointer
}
.divider {
  height: 2px;
  width: 10vw;
  margin: 10vh auto;
  background-color: @primary;
}

.no-padding{
  padding: 0;
}

// Splash Section
.splash-container{
  background-image: url('/assets/images/secret_mesa.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  .title-container{
    margin-top: 0vh;
  }
  .squeeze{
    margin-top: .5vh;
    margin-bottom: .5vh;
    font-size: 1.309rem;
    color: #333333;
  }

  .splash-title{
    margin-top: .2vh;
    margin-bottom: .2vh;
    font-size: 4.236rem;
    letter-spacing: .3rem;
    color: #333333;
  }
  @media (max-width: 600px){
    .splash-title{
    font-size: 3.19rem;
    letter-spacing: .0625rem;
    }
  }
}

/* // Summary Section

.summary-fluid{
  background-color: #DAE5EE;
  min-height: 100vh;
  color: @letterColor;
  .progress-name{
    text-align: center;
    width: 100%;
  }
  .progress{
    width: 100%;
    .progress-bar-alpha{
      background-color: #6C8D96;
    }
    .progress-bar-omega{
      background-color: #2095d9;
    }
  }
  .summary-title{
    margin-top: 5vh;
  }
  .summary-text{
    font-size: 2rem;
  }
  .side-col{
    height: 70vh;
    position: relative;
    .icon-image{
      position: absolute;
      max-width: 50%;
      max-height: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }
    .top-half{
      position: absolute;
      height: 40vh;
      width: 100%;
      top: 0vh;
    }
    .bottom-half{
      position: absolute;
      height: 40vh;
      width: 100%;
      bottom: 0vh;
    }

  }
}
 */
// ***********************************************
// ********** Profile Section *****768px is small*
// ***********************************************
#section1{
  position: relative;
  background-color: #E0E0E0;
  .mj-left{
    position:absolute;
    top: 10vh;
    left: 2vw;
    z-index: 2;
  }
  .mj-right{
    position:absolute;
    top: 10vh;
    right: 2vw;
    z-index: 2;
  }
  .responsive-text{
    font-size: 1rem;
  }
  p{
    font-size: 1.025rem;
  }
  ul{
    margin-bottom: 1.25rem;
  }
  li{
    font-size: 1.025rem;
  }
  .mj-header{
    display: block;
    position: relative;
  }
  .mj-line::before {
  content: '';
  height: 1px;
  width: 100%;
  background: #bdbdbd;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 50%;
  margin-top: -1px;
  }
  .portfolio-subtitle{
    padding-left: .3rem;
  }
  .mj-line{
    span{
      background-color: #E0E0E0;
      background-size: auto auto;
      position: relative;
      padding: 0 1.5rem;
      white-space: pre-wrap;
      font-family: 'Alex Brush', cursive;
    }
  }
  .mjbox{
    max-width: 20vw;
    max-height: 20vh;
    margin: 0vh auto 2vh auto;
  }
  .mj-list{
    list-style-type: none;
    text-align: right;
  }
  .labels{
    text-align: center;
    margin-bottom: 2vh;
    .featured{
      .mj-label{
        font-size: .75rem;
        margin-right: .5rem;
        @media (max-width: 600px){
          font-size: .60rem;
        }
      }

    }
    .others{
      .mj-label{
        font-size: .625rem;
        margin-right: .4rem;
      }
    }


  }
}
#slide1{
/*   background: -webkit-gradient(linear, top left, bottom left, from(#E0E0E0), to(#DAE5EE));
background: -webkit-linear-gradient(#E0E0E0, #DAE5EE);
background: linear-gradient(#E0E0E0,#DAE5EE); */
background-color: #E0E0E0;
}
.profile-container{

  .profile-wrapper{
     margin: 5vh 5vw;
    .responsive-row-fix{
      margin-left: auto;
      margin-right: auto;
    }
    .portfolio-panel{
      @media (max-width: 600px){
        width: 20vh;
      }
    }
  }
  img{
    width: 100%;
    border: 1px solid black;
    position: relative;
    z-index: -1;
  }
  .logo-brew{
    max-height: 100%;
    width: 100%;
    background-image: url('/assets/images/brewSplash.png');
    background-size: cover;
  }
  .item-container-mobile{
    background-color: white;
    height: 30vh;
    position: relative;
    border: 2px solid black;
    .detail-stub{
      width: 50%;
      background-color: blue;
      position: absolute;
      bottom: 0vh;
      right: 0vh;
      text-align: right;
      .title{

      }
      .logo{

      }
    }
  }
  .item-container{
    background-color: white;
    height: 10vw;
    position: relative;
    border: 1px solid black;
    .detail-stub{
      width: 50%;
      background-color: blue;
      position: absolute;
      bottom: 0vh;
      right: 0vh;
      text-align: right;
      .title{

      }
      .logo-brew{
        height: 4vw;
        width: 4vw;
        background-image: url('/assets/images/brew.png');
        background-size: contain;
        background-position: center;
        position: absolute;
        right: 1.25rem;
      }
    }
  }
}

// ***********************************************
// ********** Contact Section ********************
// ***********************************************

.contact-container{
  background-image: url('/assets/images/clouded_bridge.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  .contact-wrap{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .title-container{
    margin-top: 35vh;
  }
  .squeeze{
    margin-top: .5vh;
    margin-bottom: .5vh;
    font-size: 1.309rem;
    color: white;
  }

  .splash-title{
    margin-top: .2vh;
    margin-bottom: .2vh;
    font-size: 3.427rem;
    letter-spacing: .0625rem;
    color: white;
  }
  .social {
    text-align: center;
  }
}
// ***********************************************
// **************** Hover.css ********************
// ***********************************************


.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 10;
}

.label-info{
  background-color: #44656B;
}
.label-warning{
  background-color: #ABD0DC;
}
