doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE-edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    title Michael J. Perez
    link(rel="stylesheet" href="/assets/fancybox/source/jquery.fancybox.css" type="text/css" media="screen")
    link(rel="stylesheet" href="/assets/fancybox/source/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen")
    link(type="text/css" rel="stylesheet" href="/assets/jquery.qtip.custom/jquery.qtip.css")
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/assets/css/typeplate.css')
    link(rel='stylesheet', href='/vendor/fullpage.js/jquery.fullPage.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    #fullpage
      // Page 1
      #section0.container-fluid.splash-container.section
        .title-container
          h1.small.text-center.text-uppercase.squeeze The Digital Portfolio of
          h1.text-center.text-uppercase.splash-title Michael J. Perez
          h1.small.text-center.text-uppercase.squeeze A full stack web developer.
          .divider
          button.btn.primary.white.btn-mj
            a.white(href='#contact'): strong Get in touch
      // Page 2
      #section1.section
        i#move-left.fa.fa-chevron-left.mj-left.fa-3x.pointer
        i#move-right.fa.fa-chevron-right.mj-right.fa-3x.pointer
        #slide1.slide
          .container.profile-container
            .mj-header
              h1.mj-line.text-center
                span.mj-title Portfolio
            .profile-wrapper
              .row.responsive-row-fix
                .col-sm-4.col-xs-6.no-padding.hvr-grow.portfolio-panel
                  a(href='/#portfolio/1')
                    img(src='/assets/images/brewSplash.png')
                .col-sm-4.col-xs-6.no-padding.hvr-grow.portfolio-panel
                  a(href='/#portfolio/2')
                    img(src='/assets/images/toorSplash.png')
                .col-sm-4.col-xs-6.no-padding.hvr-grow.portfolio-panel
                  a(href='/#portfolio/3')
                    img(src='/assets/images/gameSplash.png')
                //- .col-sm-4.col-xs-6.no-padding.hvr-grow.portfolio-panel
                //-   img(src='/assets/images/photoSplash.png')
                //- .col-sm-4.col-xs-6.no-padding.hvr-grow.portfolio-panel
                //-   img(src='/assets/images/todoSplash.png')
                //- .col-sm-4.col-xs-6.no-padding.hvr-grow.portfolio-panel
                //-   img(src='/assets/images/memSplash.png')
        #slide2.slide
          .container
            .row
              .col-xs-12.col-sm-6
                .row
                  .col-xs-8.no-padding
                    h1 Brew
                    h4 The Planeswalker's Compendium
                  .col-xs-4.no-padding
                    ul.mj-list
                      li.responsive-text
                        a(href='https://github.com/Spinaldash/mtgapp', target='_blank', title='Visit the Github Repo')
                          i.fa-stack.fa-2x
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-github-alt.fa-stack-1x.fa-inverse
                      li.responsive-text
                        a(href='http://brew.michaeljperez.net', target='_blank', title='Visit the Site')
                          i.fa-stack.fa-2x
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-cogs.fa-stack-1x.fa-inverse
                  .row
                    .col-xs-12
                      h3 Abstract:
                      p  Brew was conceived as a tool to help players prepare for competitive Magic: The Gathering events. Brew is a web-application that allows the user to visualize M:TG cards in unique and powerful ways. Brew showcases powerful custom filtering with Angular, and dynamically creates and completes an API as it is used.
                    .col-xs-12.hidden-xs
                      h3 What makes it cool:
                      ul
                        li Dynamically creates/configures its api as it is used.
                        li Access to every card in standard play.
                        li Powerful filtering and sorting with Angular.
                    .col-xs-12
                      h3 Tech Featured:
                      .labels
                        .featured
                          span(title='Amazon Web Services').label.label-info.mj-label AWS
                          span(title='AngularJS').label.label-warning.mj-label AngularJS
                          span(title='MongoDB').label.label-info.mj-label MongoDB
                          span(title='Javascript').label.label-info.mj-label Javascript
                          span(title='HTML/CSS').label.label-info.mj-label HTML/CSS
                          span(title='NodeJS').label.label-info.mj-label NodeJS
                          span(title='HapiJS').label.label-info.mj-label HapiJS
              .col-xs-12.col-sm-6
                .row
                  .col-xs-4.col-sm-12
                    a.fancybox-thumb(rel="fancybox-thumb", href="/assets/images/brew/Brew_1.png" )
                      img.mjbox.thumbnail(src="/assets/images/brew/Brew_1.png", alt="Brew1")
                  .col-xs-4.col-sm-12
                    a.fancybox-thumb(rel="fancybox-thumb", href="/assets/images/brew/Brew_2.png")
                      img.mjbox.thumbnail(src="/assets/images/brew/Brew_2.png", alt="Brew2")
                  .col-xs-4.col-sm-12
                    a.fancybox-thumb(rel="fancybox-thumb", href="/assets/images/brew/Brew_3.png")
                      img.mjbox.thumbnail(src="/assets/images/brew/Brew_3.png", alt="Brew3")
                  
        #slide3.slide
          .container
            .row
              .col-xs-12.col-sm-6
                .row
                  .col-xs-8.no-padding
                    h1 Toor
                    h4 Crowdsource your vacation
                  .col-xs-4.no-padding
                    ul.mj-list
                      li.responsive-text
                        a(href='https://github.com/coding-house-jan2015/toor', target='_blank', title='Visit the Github Repo')
                          i.fa-stack.fa-2x
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-github-alt.fa-stack-1x.fa-inverse
                      li.responsive-text
                        a(href='http://toor.club/', target='_blank', title='Visit the Site')
                          i.fa-stack.fa-2x
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-cogs.fa-stack-1x.fa-inverse
                  .row
                    .col-xs-12
                      h3 Abstract:
                      p  Toor is the project that won our 4 man team the LAUNCH 2015 hackathon SABRE API award. We wanted to create a better way to plan your next vacation. TOOR utilizes the SABRE API to provide you with destination options and Twitter to help build an itinerary. I worked closely with another Front-End Developer on this project.
                    .col-xs-12.hidden-xs
                      h3 What makes it cool:
                      ul
                        li: a(href='http://challengepost.com/software/toor-4z8zg', target='_blank') Hackathon award winner.
                        li Powered by Sabre and Twitter APIs.
                        li Created in 48 hours by a team of 4.
                    .col-xs-12
                      h3 Tech Featured:
                      .labels
                        .featured
                          span(title='TwitterAPI').label.label-warning.mj-label TwitterAPI
                          span(title='SabreAPI').label.label-warning.mj-label SabreAPI
                          span(title='MongoDB').label.label-info.mj-label MongoDB
                          span(title='jQuery').label.label-info.mj-label jQuery
                          span(title='HTML/CSS').label.label-info.mj-label HTML/CSS
                          span(title='NodeJS').label.label-info.mj-label NodeJS
                          span(title='HapiJS').label.label-info.mj-label HapiJS
              .col-xs-12.col-sm-6
                .row
                  .col-xs-4.col-sm-12
                    a.fancybox-thumb(rel="fancybox-thumb", href="/assets/images/Toor/Toor_1.png" )
                      img.mjbox.thumbnail(src="/assets/images/Toor/Toor_1.png", alt="Toor1")
                  .col-xs-4.col-sm-12
                    a.fancybox-thumb(rel="fancybox-thumb", href="/assets/images/Toor/Toor_2.png")
                      img.mjbox.thumbnail(src="/assets/images/Toor/Toor_2.png", alt="Toor2")
                  .col-xs-4.col-sm-12
                    a.fancybox-thumb(rel="fancybox-thumb", href="/assets/images/Toor/Toor_3.png")
                      img.mjbox.thumbnail(src="/assets/images/Toor/Toor_3.png", alt="Toor3")
        #slide4.slide
          .container
            .row
              .col-xs-12.col-sm-6
                .row
                  .col-xs-8.no-padding
                    h1 Gameswap
                    h4.portfolio-subtitle Trade your games
                  .col-xs-4.no-padding
                    ul.mj-list
                      li.responsive-text
                        a(href='https://github.com/cadenichols/game-swap', target='_blank', title='Visit the Github Repo')
                          i.fa-stack.fa-2x
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-github-alt.fa-stack-1x.fa-inverse
                      li.responsive-text
                        a(href='https://aqueous-crag-7207.herokuapp.com/#', target='_blank', title='Visit the Site')
                          i.fa-stack.fa-2x
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-cogs.fa-stack-1x.fa-inverse
                  .row
                    .col-xs-12
                      h3 Abstract:
                      p  Tired of trading in my video games for a portion of their value, I made Gameswap. Gameswap lets you create an account, register your games, and trade with others.  Featuring a fully functional trade system, Gameswap is a one page application made with AngularJS.
                    .col-xs-12.hidden-xs
                      h3 What makes it cool:
                      ul
                        li Register and keep track of your collection.
                        li A full-fledged offer/decline/trade system.
                        li Keeps track of all of your trades.
                    .col-xs-12
                      h3 Tech Featured:
                      .labels
                        .featured
                          span(title='Bootstrap').label.label-info.mj-label Bootstrap
                          span(title='AngularJS').label.label-warning.mj-label AngularJS
                          span(title='MongoDB').label.label-info.mj-label MongoDB
                          span(title='jQuery').label.label-info.mj-label jQuery
                          span(title='HTML/CSS').label.label-info.mj-label HTML/CSS
                          span(title='NodeJS').label.label-info.mj-label NodeJS
                          span(title='HapiJS').label.label-info.mj-label HapiJS
              .col-xs-12.col-sm-6
                .row
                  .col-xs-4.col-sm-12
                    a.fancybox-thumb(rel="fancybox-thumb", href="/assets/images/gameswap/Gameswap_1.png" )
                      img.mjbox.thumbnail(src="/assets/images/gameswap/Gameswap_1.png", alt="Gameswap1")
                  .col-xs-4.col-sm-12
                    a.fancybox-thumb(rel="fancybox-thumb", href="/assets/images/gameswap/Gameswap_2.png")
                      img.mjbox.thumbnail(src="/assets/images/gameswap/Gameswap_2.png", alt="Gameswap2")
                  .col-xs-4.col-sm-12
                    a.fancybox-thumb(rel="fancybox-thumb", href="/assets/images/gameswap/Gameswap_3.png")
                      img.mjbox.thumbnail(src="/assets/images/gameswap/Gameswap_3.png", alt="Gameswap3")
        //- #slide5.slide
        //-   .container
        //-     h1.text-center photoalbum
        //- #slide6.slide
        //-   .container
        //-     h1.text-center ToDo List
        //- #slide7.slide
        //-   .container
        //-     h1.text-center Memory


      #section2.section
        .container-fluid.contact-container.no-padding
          .container-fluid.contact-wrap.no-padding
            .title-container
              h1.small.text-center.squeeze Liked what you saw?
              h1.text-center.splash-title Drop me a line
              .divider(style='background-color: white')
              ul.list-inline.social
                li
                  a(href='https://twitter.com/spinaldash', target='_blank')
                    i.fa-stack.fa-lg
                      i.fa.fa-circle.fa-stack-2x
                      i.fa.fa-twitter.fa-stack-1x.fa-inverse
                li
                  a(href='https://github.com/spinaldash', target='_blank')
                    i.fa-stack.fa-lg
                      i.fa.fa-circle.fa-stack-2x
                      i.fa.fa-github-alt.fa-stack-1x.fa-inverse
                li
                  a(href='https://www.linkedin.com/in/mjosephvp', target='_blank')
                    i.fa-stack.fa-lg
                      i.fa.fa-circle.fa-stack-2x
                      i.fa.fa-linkedin.fa-stack-1x.fa-inverse
                li
                  a(href='http://www.twitch.tv/spinaldash/profile', target='_blank')
                    i.fa-stack.fa-lg
                      i.fa.fa-circle.fa-stack-2x
                      i.fa.fa-twitch.fa-stack-1x.fa-inverse
              button(title='mjosephvp@gmail.com').btn.primary.white.btn-mj
                i.fa.fa-envelope-o &nbsp
                strong Mail Me

    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/fullpage.js/jquery.fullPage.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(type="text/javascript" src="/assets/jquery.qtip.custom/jquery.min.js")
    script(type="text/javascript" src="/assets/fancybox/source/helpers/jquery.fancybox-thumbs.js")
    script(type="text/javascript" src="/assets/fancybox/source/jquery.fancybox.pack.js")
    script(src=isProd ? '/index.min.js' : '/index.js')
