doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE-edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    title Michael J. Perez
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/assets/css/typeplate.css')
    link(rel='stylesheet', href='/vendor/fullpage.js/jquery.fullPage.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    #fullpage
      .container-fluid.splash-container.section
        .title-container
          h1.small.text-center.text-uppercase.squeeze The Digital Portfolio of
          h1.text-center.text-uppercase.splash-title Michael J. Perez
          h1.small.text-center.text-uppercase.squeeze A full-stack web-developer.
          .divider
          button.btn.primary.white.btn-mj: strong Get in touch
      .container-fluid.summary-fluid.section
        .row
          .col-xs-3
          .col-xs-6
            h1.text-center.text-captialize.white.summary-title Summary
            .divider
        .row
          .col-xs-3
            .side-col
              .top-half
                img.icon-image(src='/assets/icons/mongoDB_icon.png')
              .bottom-half
                img.icon-image(src='/assets/icons/hapi.png')
          .col-xs-6
            p.text-center.summary-text Hello! My name is Michael J. Perez &
              | I am a Full-Stack web developer currently based in San Francisco.
              | I specialize in a modified MEAN stack, 
              a(href='#') MongoDB, 
              a(href='#') HapiJS, 
              a(href='#') NodeJS, 
              | & 
              a(href='#') AngularJS. 
              | I love building one page applications. You can find some of my work 
              a(href="#") here.
          .col-xs-3
            .side-col
              .top-half
                img.icon-image(src='/assets/icons/angularjs-logo.png')
              .bottom-half
                img.icon-image(src='/assets/icons/nodejs.png')

    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/fullpage.js/jquery.fullPage.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
