doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE-edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    title Michael J. Perez
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    .container-fluid.splash-container
      .title-container
        h1.small.text-center.text-uppercase.squeeze The Digital Portfolio of
        h1.text-center.text-uppercase.splash-title Michael J. Perez
        h1.small.text-center.text-uppercase.squeeze A full-stack web-developer.
        .divider
        button.btn.primary.white.btn-mj: strong Get in touch
    .container
      h1.text-center.text-uppercase Summary
    
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
