doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE-edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    title Michael J. Perez
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/assets/css/typeplate.css')
    link(rel='stylesheet', href='/vendor/fullpage.js/jquery.fullPage.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    #fullpage
      // Page 1
      #section0.container-fluid.splash-container.section
        .title-container
          h1.small.text-center.text-uppercase.squeeze The Digital Portfolio of
          h1.text-center.text-uppercase.splash-title Michael J. Perez
          h1.small.text-center.text-uppercase.squeeze A full-stack web-developer.
          .divider
          button.btn.primary.white.btn-mj: strong Get in touch
      // Page 2
      #section1.section
        #slide1.slide
          .container.profile-container
            h1.text-center Portfolio
            .profile-wrapper
              .row.responsive-row-fix
                .col-sm-4.col-xs-6.no-padding.hvr-grow.portfolio-panel
                  img(src='/assets/images/brewSplash.png')
                .col-sm-4.col-xs-6.no-padding.hvr-grow.portfolio-panel
                  img(src='/assets/images/toorSplash.png')
                .col-sm-4.col-xs-6.no-padding.hvr-grow.portfolio-panel
                  img(src='/assets/images/gameSplash.png')
                .col-sm-4.col-xs-6.no-padding.hvr-grow.portfolio-panel
                  img(src='/assets/images/photoSplash.png')
                .col-sm-4.col-xs-6.no-padding.hvr-grow.portfolio-panel
                  img(src='/assets/images/todoSplash.png')
                .col-sm-4.col-xs-6.no-padding.hvr-grow.portfolio-panel
                  img(src='/assets/images/memSplash.png')
        #slide2.slide
          .container
            h1.text-center Brew
        #slide3.slide
          .container
            h1.text-center Toor
        #slide4.slide
          .container
            h1.text-center Gameswap
        #slide5.slide
          .container
            h1.text-center photoalbum
        #slide6.slide
          .container
            h1.text-center ToDo List
        #slide7.slide
          .container
            h1.text-center Memory


      
      //- // page 3
      //- 
      //- #section2.summary-fluid.section
      //-   .container
      //-     .row
      //-       .col-xs-12.col-sm-6
      //-         h4 Summary
      //-         p.summary-text Hello! My name is Michael J. Perez &
      //-           | I am a Full-Stack web developer currently based in San Francisco.
      //-           | I specialize in a modified MEAN stack, 
      //-           a(href='#') MongoDB, 
      //-           a(href='#') HapiJS, 
      //-           a(href='#') NodeJS, 
      //-           | & 
      //-           a(href='#') AngularJS. 
      //-           | I love building one page applications. You can find some of my work 
      //-           a(href="#") here.
      //-       .col-xs-6
      //-     .row
      //-       .col-xs-12.col-sm-6
      //-         .skills-diagram
      //-           h4 Skills
      //-           .row
      //-             .col-xs-2.no-padding
      //-               .progress-name Angular
      //-             .col-xs-10.no-padding
      //-               .progress
      //-                 .progress-bar.progress-bar-striped.progress-bar-alpha(role='progressbar', aria-valuenow='80', aria-valuemin='0', area-valuemax='100', style='width: 90%')
      //-           .row
      //-             .col-xs-2.no-padding
      //-               .progress-name HTML/CSS
      //-             .col-xs-10.no-padding
      //-               .progress
      //-                 .progress-bar.progress-bar-striped.progress-bar-omega(role='progressbar', aria-valuenow='80', aria-valuemin='0', area-valuemax='100', style='width: 90%')
      //-           .row
      //-             .col-xs-2.no-padding
      //-               .progress-name Debugging
      //-             .col-xs-10.no-padding
      //-               .progress
      //-                 .progress-bar.progress-bar-striped.progress-bar-alpha(role='progressbar', aria-valuenow='80', aria-valuemin='0', area-valuemax='100', style='width: 90%')
      //-           .row
      //-             .col-xs-2.no-padding
      //-               .progress-name Node
      //-             .col-xs-10.no-padding
      //-               .progressggulp
      //-                 .progress-bar.progress-bar-striped.progress-bar-omega(role='progressbar', aria-valuenow='80', aria-valuemin='0', area-valuemax='100', style='width: 90%')
      // page 3
      #section2.section
        .container-fluid.contact-container
          .title-container
            h1.small.text-center.squeeze Liked what you saw?
            h1.text-center.splash-title Drop me a line
            .divider
            ul.list-inline.social
              li
                a(href='#', target='_blank')
                  i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-twitter.fa-stack-1x.fa-inverse
              li
                a(href='#', target='_blank')
                  i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-github-alt.fa-stack-1x.fa-inverse
              li
                a(href='#', target='_blank')
                  i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-linkedin.fa-stack-1x.fa-inverse
              li
                a(href='#', target='_blank')
                  i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-twitch.fa-stack-1x.fa-inverse
            button.btn.primary.white.btn-mj
              i.fa.fa-envelope-o &nbsp
              strong Mail Me

    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/fullpage.js/jquery.fullPage.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
